@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.125rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}